	*{
			margin: 0;
			padding: 0;
			font-family: 'Roboto','Arial', sans-serif;
		}
		h1{
			text-align: center;
			font-size: 1.3rem;
			color: white;
			
		}
		p{
			text-align: center;
			font-size: 0.9rem;
			color: white;
		}
		a {
			 text-decoration: none;
			 cursor: pointer;
		}

		.button{
			width: 50px;
			height: 50px;
			font-size: 1.5rem;
			margin: 2px;
			cursor: pointer;
			background: #607d8b;
			border: none;
			color: white;
			font-weight: bold;

		}
		.textview{
			width: 208px;
			margin: 4px;
			font-size: 1.5rem;
			padding: 5px;
			border: none;
			color: #607d8b;
			font-weight: bold;

		}
		.main{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		.bg{
			background-color: #000;
/* 		background: linear-gradient(45deg,green, blue, yellow, red); */
			height: 100vh;
		}
